body {
  font-family: 'Roboto', sans-serif;
}


.navbar-nav {

	font-weight: 600;
	color:#000;
}

.navbar{

	height: 102px;
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
}

.nav-link{
	color:#fff;
}
.nav-link:hover {

	color:#000;
}


#sobre {

	margin-top: 50px;
}

#queroadotar {

	margin-top: 50px;
}


#queroajudar {

	margin-top: 50px;
	background-color: #F8F8FF;
	padding-top: 56px;
	padding-bottom: 56px;
}



#contato {

	margin-top: 50px;
}


.titulo:after {

	content: '';
	display: block;
	margin-top: 30px;
	margin-bottom: 20px;
	width: 40px;
	border-top: 2px solid #444;
}

.titulo-center:after {

	margin: 30px auto 0;
	content: '';
	display: block;
	width: 40px;
	border-top: 2px solid #444;
	margin-bottom: 20px;
}

.btn-primary{

	background: rgb(254, 67, 101);
	color: #fff;
	border: 0px;
}

.btn-primary:hover{

	background: #000;

}

.form-control{

	width: 100%;
}
.fixed-top #first { 
  -webkit-transition:padding 0.2s ease;
  -moz-transition:padding 0.2s ease; 
  -o-transition:padding 0.2s ease;        
  transition:padding 0.2s ease;  
}

.affix #first {
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
  -webkit-transition:padding 0.2s linear;
  -moz-transition:padding 0.2s linear;  
  -o-transition:padding 0.2s linear;         
  transition:padding 0.2s linear;  
}

nav.navbar.shrink {
  width: 100%;
  height: 67px;
  background-color: #111;
  box-shadow: 0 1px 0 0 #dadada;
  position: fixed;
  left: 0px;
  transition: all 1.5s ease;

}
nav.navbar.shrink .navbar-brand  img{
  height: 30px;
  width: 30px;
  transition: all 1.5s ease;
}
nav.navbar.shrink a {
  font-size: 14px;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  transition: all 1.5s ease;
}
nav.navbar.shrink .navbar-toggler {
  margin: 8px 15px 8px 0;
  padding: 4px 5px;
  transition: all 1.5s ease;
}

.form-group{

 width: 350px;
 padding-top: 20px;
}

.form-control{
	border: 1px solid rgb(254, 67, 101);
}
.form-control:focus {
  border-color: rgb(254, 67, 101) !important;
  box-shadow: 0 0 5px rgb(254, 67, 101) !important;
}

.footer {

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(254, 67, 101);
  color: white;
  text-align: right;
  margin-top:50px;
  height: 50px
}

@media (max-width: 767px) {
  .navbar-collapse
  {
    background-color:rgb(254, 67, 101);
    margin-left:  -17px;
    margin-right:  -17px;
  }

}

body, wrapper {
 min-height:100vh;
}

.flex-fill {
 flex:1 1 auto;
}

#footer {

  background-color: rgb(254, 67, 101);
  margin-top: 30px;
  color: #fff;
  margin-top:0;
}

.card {

  border-color: rgb(254, 67, 101);
}